<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <script src="http://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha256-k2WSCIexGzOj3Euiig+TlR8gA0EmPjuc79OEeY5L45g="
    crossorigin="anonymous"></script>
</head>

<body>
  <h1>
    <%= title %>
  </h1>
  <p>Welcome to
    <%= title %>
  </p>
  

  <script>
    window.onload = function () {

      getData();
    }
    function getData(){
        console.log("getData");
        fetch("http://cms.web.vcg.com:7700/api/topic/get_topicList_cors?limit=15&page_num=1").then(res=>{
            console.log(res);
        })
    }
    
  </script>
</body>

</html>